body{
  width: 90%;
  margin:auto;
}

header{
  background-color: lightgrey;
}

header nav{
  display: flex;
  flex-direction: row;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

header nav a:last-child{
  margin-left: auto;
}

header nav a{
  margin: 20px;
  text-decoration: none;
  color:black;
}


main{
  margin-top:10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.lenke{
  width: 100%;
}

@media (max-width: 1200px) {
  main{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  main{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  main{
    grid-template-columns: 1fr;
  }
  header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav a:last-child{
    margin:auto;
    padding-bottom: 30px;
    padding-top: 20px;
  }
}
