main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#secValgtPokemon{
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);

  display: none;

  background-color: darkgrey;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px;
  }
