
header{
  background-color: lightgrey;
}

header nav{
  display: flex;
  flex-direction: row;
}

header nav a:last-child{
  margin-left: auto;
}

header nav a{
  margin: 20px;
}

@media (max-width: 600px) {
  header nav{
    display: flex;
    flex-direction: column;
  }
  header nav a:last-child{
    margin-left:20px;
  }
}

main{
  margin-top:10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.lenke{
  width: 100%;
}

@media (max-width: 1200px) {
  main{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  main{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  main{
    grid-template-columns: 1fr;
  }
}
